<h1>Add New Movie</h1>

<script>getMovie()</script>

<%= render 'form', movie: @movie %>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-5">
          <div class="form-group">
            <%= link_to 'Back', new_movie_path, :class=>"btn btn-default" %>
          </div>
      </div>
  </div>
</div>


