<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>
<script src="https://use.fontawesome.com/37d2cdd69d.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
               <a class="navbar-brand inactiveLink text-center" href="#">Unofficial Movie Database (UMDB)</a>
            </div>
        </div>
    </nav>

    
    <div class="container">
    	<div class="jumbotron">
	    	<h3 class="text-center">Search For Any Movie or Show</h3>
	    	<form id="searchForm">
	    		<input type="text" class="form-control" id="searchText" placeholder="Search Movies...">
	    	</form>
	    </div>
    </div>
    
    <div class="container movieSpacing">
        <div id="movies" class="row"></div>
    </div>


