<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>
<script src="https://use.fontawesome.com/37d2cdd69d.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    getMovie();
</script>

    

    <nav class="navbar navbar-default movieSpacing">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand inactiveLink" href="#">Info</a>
            </div>
        </div>
    </nav>
    
    <div class="container movieSpacing">
        <div id="movie" class="well"></div>
    </div>

     <div class="container movieSpacing">
         <%= link_to 'Go Back to Search', root_path, :class => "btn btn-primary" %>
         <%= link_to 'Add to My Movies', new_movie_path, :class => "btn btn-primary" %>
    </div>
